#old_password,
#new_password,
#confirm_new_pasword {
    font-weight: bolder;
    height: 50px;
    width: inherit;
    background-color: rgba(255, 255, 255, 0.068);
    border: 1px solid rgb(209, 209, 209);
    color: black;
    border-radius: 5px;
    padding: 0px 10px;
    margin-top: 8px;
    font-size: 14px;
}

input [password]::placeholder {
    font-weight: lighter;
}

.btn {
    display: inline-block;
    font-weight: bolder;
    height: 50px;
    width: 10%;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 20px;
    font-size: 14px;
}